p {
  line-height: 1.0;
  margin-bottom: 0px;
  font-family: 'Roboto', Times, serif, Arial, Helvetica, sans-serif;
}
body {
  font-size: 18px;
  color: black;
  background-color: rgb(226, 223, 223);
  padding: 30px;
  width: auto;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}
.image-div {
width: auto;
min-width: 160px;
min-height: auto;
margin-right: 5px;
padding: 10px;
}
img {
  border-radius: 20px;
  width: 100%;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 50px;
  line-height: 1.6;
  width: auto;
  padding-bottom: 40px;
}
.main-div {
  border: none;
  display: flex;
  flex-direction: row;
  width: auto;
  margin-bottom: 40px;
  margin-top: 0;
  align-items: center;
}
.ima1 {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.ima2 {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.profile {
  width: 100%;
  display: block;
  height: 100%;
  min-width: 30%;
}
.details {
  margin-bottom: 0;
  margin-top: 8px;
  width: auto;
  min-width: none;
}
.div-profile {
  display: inline-block;
  object-fit: contain;
margin-right: 20px;
width: auto;
height: 250px;
min-width: 0;
min-height: 0;
}
.div-details {
  width: auto;
  height: auto;
  min-width: 0;
  min-height: 0;
  display: inline-block;
  align-items: center;
  margin-top: 0;
  font-display: flex;
}
.prof-div {
  width: auto;
  height: auto;
  border: none;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding: 8px;
  margin-left: 30px;
  margin-right: 70px;
}
.welcome {
  width: 60%;
  margin-left: auto;
margin-right: auto;
border: none;
}
.other-divs {
width: 100%;
display: flex;
object-fit: contain;
flex-direction: row;
padding-left: 20px;
justify-content: center;
}
.one {
  display: flex;
  height: 300px;
  width: 98%;
}
.two {
  display: flex;
  height: 300px;
  width: 98%;
}
.three {
  display: flex;
  height: 300px;
  width: 98%;
}