p {
  line-height: 1.4;
  margin-bottom: 0px;
  font-family: 'Roboto', Times, serif, Arial, Helvetica, sans-serif;
}
body {
  font-size: 18px;
  color: black;
  background-color: rgba(129, 124, 175, 0.918);
  padding: 30px;
  width: auto;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}
.image-div {
  width: auto;
padding-right: 10px;
}
img {
  border-radius: 20px;
  width: 100%;
}
.heading {
  width: 70%;
  line-height: 1.6;
  padding-bottom: 40px;
}
.main-div {
  border: none;
  width: auto;
  margin-bottom: 0px;
  margin-top: 0;
}
.ima1 {
  width: 50%;
  height: 250px;
  min-height: 210px;
  object-fit: cover;
}
.ima2 {
  width: 50%;
  height: 250px;
  min-height: 210px;
  object-fit: cover;
}
.profile {
  width: 100%;
  display: block;
  height: 100%;
  min-width: 30%;
}
.details {
  margin-bottom: 0;
  margin-top: 8px;
  width: auto;
  min-width: none;
}
.div-profile {
  object-fit: contain;
margin-right: 20px;
width: auto;
max-width: 230px;
height: 250px;
min-width: 0;
min-height: 0;
}
.div-details {
  width: auto;
  height: auto;
  min-width: 0;
  min-height: 0;
  align-items: center;
  margin-top: 0;
  font-display: flex;
}
.prof-div {
  width: auto;
  height: auto;
  border: none;
  min-width: 0;
  min-height: 0;
  align-items: center;
  margin-bottom: 40px;
  padding: 3px;
  margin-left: 10px;
  margin-right: 90px;
}
.welcome {
  width: 60%;
  margin-left: auto;
margin-right: auto;
border: none;
}
.other-divs {
width: 100%;
display: flex;
object-fit: contain;
flex-direction: row;
padding-left: 20px;
}
.two {
  min-width: 200px;
  display: flex;
  max-width: 450px;
  height: 250px;
  width: 98%;
}
.three {
  max-width: 450px;
  min-width: 200px;
  display: flex;
  height: 250px;
  width: 98%;
}